.formulario {
    margin-top: 5%;
  }

  body{
    background-image: url(/imagens/abc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
  }
  
  